<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <h2>Add Company</h2>
                <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <input type="text" formControlName="companyName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                        <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                            <div *ngIf="f.companyName.errors.required">Company Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="owner">Owner Name</label>
                        <input type="text" formControlName="owner" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.owner.errors }" />
                        <div *ngIf="submitted && f.owner.errors" class="invalid-feedback">
                            <div *ngIf="f.owner.errors.required">Owner Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input formControlName="address" type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="companyStatus">Status</label>
                        <input type="text" formControlName="companyStatus" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.companyStatus.errors }" />
                        <div *ngIf="submitted && f.companyStatus.errors" class="invalid-feedback">
                            <div *ngIf="f.companyStatus.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Save</button>
                        <img *ngIf="loading"
                            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <a (click)="clear()" class="btn btn-link">Cancel</a>
                    </div>
                </form>



            </div>
        </div>
    </div>
</div>